.footer {
    width: 100%;
    min-height: 150px;
    padding: 40px 0;
    background: #7e7a7a;

    .container {
        
        .footer-inner {
            display: flex;
            width: 100%;
            height: 100%;
            justify-content: center;
            align-items: center;

            .container-link {
                width: 45%;
                height: 100%;

                ul {
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    .footer-link {
                        width: fit-content;
                        text-align: center;
                        padding: 5px 0px;
                        color: #eee;
                        cursor: pointer;
    
                        &:hover {
                            border-bottom: 2px solid #b4b4b4;
                        }
                    }
                }
            }
        }

        .created {
            padding-top: 20px;
            color: #eee;
        }
    }
}

@media (max-width: 319px) {
    .footer {

        .container {

            .footer-inner {
                flex-direction: column;
            }
        }
    }
}