* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}

/* GLOBAL CSS */
a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.container {
  width: 80%;
  margin: 0 auto;
  height: 100%;
}


.title {
  margin-bottom: 30px;
  position: relative;

}

.title::after {
    content: '';
    position: absolute;
    height: 3px;
    width: 100%;
    border-radius: 10px;
    background: #7e7a7a;
    bottom: -6px;
    right: 0px;
}

/* CSS MEDIA QUERIES */

@media (max-width:319px) {
  .container {
    width: 96%;
  }
}

@media (min-width: 320px) and (max-width:480px) {
  .container {
    width: 90%;
  }
}