.banner {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../../assests/images/banner.jpg');
    background-size: cover;
    height: 100vh;
    width: 100%;

    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .banner-inner {
            // width: 493px;
            margin: 30px auto;
            align-items: center;
            
            .banner-text {
                color: #eee;
                width: 0px;
                font-size: 37px;
                overflow: hidden;
                border-right: 2px solid #eee;
                white-space: nowrap;
                letter-spacing: 8px;
                animation: typing 3.5s steps(40, end) forwards 2000ms, blinking 0.72s step-end infinite;
    
                @keyframes typing {
                    from {
                        width: 0px;
                    }
                    to {
                        width: 100%;
                    }
                }
                
                @keyframes blinking {
                    from,to {
                        border-color: transparent;
                    }
                    50% {
                        border-color: #eee;
                    }
                }
            }

            p {
                opacity: 0;
                margin-top:10px;
                color: #b2afaf;
                animation-name: fade-in;
                animation-fill-mode: forwards;
                animation-delay: 6s;
                animation-duration: 300ms;

                @keyframes fade-in {
                    to {
                        opacity: 1;
                    }
                }
            }
        }

        .links {
            width: 100%;

            a {
                height: 50px;

                .contact {
                    opacity: 0;
                    height: 40px;
                    color: #b2afaf;
                    margin: 0px 14px;
                    transition: color 200ms ease;
                    animation-name: fade-in;
                    animation-fill-mode: forwards;
                    animation-delay: 6s;
                    animation-duration: 300ms;

                    &:hover {
                        color: #eee;
                    }

                @keyframes fade-in {
                    to {
                        opacity: 1;
                    }
                }
                }
            }
        }

        .arrow{
            opacity: 0;
            width: 50px;
            height: 50px;
            background: transparent;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            color: #eee;
            left: 50%;
            transform: translateX(-50%);
            position: absolute;
            bottom: 10%;   
            border-bottom: 1px solid #eee;
            transition: background 300ms ease;
            animation-name: fade-in;
            animation-fill-mode: forwards;
            animation-delay: 6s;
            animation-duration: 300ms;
            cursor: pointer;

            &:hover {
                background: #eee;
                border-bottom: 1px solid #000;
                color: #000;
            }

            @keyframes fade-in {
                to {
                    opacity: 1;
                }
            }
        }
    }
}

// CSS MEDIA QUERIES

@media (max-width: 319px) {
    .banner {

        .container {

            .banner-inner {
                width: fit-content;
                margin: 30px auto;

                .banner-text {
                    transform: scale(1,1.6);
                    font-size: 17px;
                    letter-spacing: 4.5px;
                }

                p {
                    margin-top: 20px;
                }
            }

            .links {

                a {
                    .contact {
                        height: 35px;
                    }
                }
            }

            .arrow {
                width: 45px;
                height: 45px;

                .contact {
                    height: 35px;
                }
            }
        }
    }
}

@media (min-width: 320px)and (max-width: 480px) {
    .banner {

        .container {

            .banner-inner {
                width: fit-content;
                margin: 30px 0;

                .banner-text {
                    transform: scale(1,1.4);
                    font-size: 20px;
                    letter-spacing: 4.5px;
                }

                p {
                    margin-top: 20px;
                }
            }

            .links {

                a {
                    .contact {
                        height: 35px;
                    }
                }
            }

            .arrow {
                width: 45px;
                height: 45px;

                .contact {
                    height: 35px;
                }
            }
        }
    }
}

@media (min-width: 481px)and (max-width: 600px) {
    .banner {

        .container {

            .banner-inner {
                width: fit-content;
                margin: 30px 0;

                .banner-text {
                    transform: scale(1,1.4);
                    font-size: 28px;
                    letter-spacing: 4.5px;
                }

                p {
                    margin-top: 20px;
                }
            }

            .links {

                a {
                    .contact {
                        height: 35px;
                    }
                }
            }

            .arrow {
                width: 45px;
                height: 45px;

                .contact {
                    height: 35px;
                }
            }
        }
    }
}

@media (min-width: 601px) and (max-width: 630px) {
    .banner {

        .container {

            .banner-inner {
                
                .banner-text {
                    font-size: 28px;
                    transform: scale(1,1.5);
                }
            }
        }
    }
}

@media (min-width: 631px) and (max-width: 720px) {
    .banner {

        .container {

            .banner-inner {
                
                .banner-text {
                    font-size: 30px;
                    transform: scale(1,1.5);
                }
            }
        }
    }
}